body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top */
    height: 100vh;
    margin: 0;
    padding-top: 5vh; /* Add some padding at the top */
}

.container {
    text-align: center;
    width: 50vw; /* Adjust container width */
}

.time-display {
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.stopwatch-display {
    font-size: 6rem;
    margin-bottom: 20px;
}

.controls button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

.controls button:hover {
    background-color: #ffffff;
    color: #121212;
}

.controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.history-section {
    margin-top: 40px;
    text-align: left;
}

.history-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 10px; /* Align with log content */
}

.history-log {
    width: 100%;
    max-height: 45vh; /* Increase max height */
    overflow-y: auto; /* Add a scrollbar when content overflows */
    border: 1px solid #333;
    padding: 10px;
    box-sizing: border-box;
}

.history-log p {
    font-size: 1.2rem;
    margin: 5px 0;
    white-space: pre;
}